.gold {
   font-weight: 600;
   color: #CFB53B
}

.silver {
   font-weight: 600;
   color: #a8a8a8;
}

.bronze {
   font-weight: 600;
   color: #8C7853;
}

.red {
   color: #b64a49;
}

.green {
   color: #498c49;
}